<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD NodeJS MongoDB</title>
    <link rel="stylesheet" href="/plugin/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- start navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">siswaApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <form class="d-flex" method="POST" action="/get-siswa-search">
                <input class="form-control me-2 search-siswa" type="text" placeholder="Masukkan Nama Siswa" aria-label="Search" name="key">
                <button id="btn-search" class="btn btn-outline-light" type="submit">Cari</button>
            </form>
            </div>
        </div>
    </nav>

      <div class="container-fluid">
          <div class="wrapper-form">
            <div class="row form-tambah">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6"><h3>Form Tambah Data Siswa</h3></div>
                        <div class="col-md-6">                            
                        </div>
                    </div>                    
                </div>
                <div class="col-md-12 wrapper-tambah">
                  <form id="input-form" method="POST" action="/post-newSiswa">
                      <div class="row wrapper-input">
                          <div class="col-md-6">
                              <label for="inputId" class="form-label">ID Siswa</label>
                              <input type="text" class="form-control" id="inputId" name="idsiswa">
                          </div>
                          <div class="col-md-6">
                              <label for="inputNama" class="form-label">Nama Siswa</label>
                              <input type="text" class="form-control" id="inputNama" name="nama">
                          </div>
                      </div>
                      <div class="row wrapper-input">
                          <div class="col-md-6">
                              <label for="inputEmail" class="form-label">Email Siswa</label>
                              <input type="text" class="form-control" id="inputEmail" name="email">
                          </div>
                          <div class="col-md-6">
                              <label for="inputAlamat" class="form-label">Alamat Siswa</label>
                              <input type="text" class="form-control" id="inputAlamat" name="address">
                          </div>
                      </div>
                      <div class="col-md-12 wrapper-input">
                          <input type="submit" value="Kirim" class="btn btn-outline-secondary w-100" id="btnSubmit">
                      </div>
                  </form>
                </div>
            </div>
  
            <div class="row daftar-siswa">
                <div class="col-md-12 tablesiswa">
                    <h3>Daftar Nama Siswa</h3>
                  <div class="row wrap-head">
                      <div class="col-md-1 col-idsiswa">
                          <p>Nomor</p>
                      </div> 
                      <div class="col-md-3 col-namasiswa">
                          <p>Nama Siswa</p>
                      </div>
                      <div class="col-md-3 col-emailsiswa">
                          <p>Email Siswa</p>
                      </div>
                      <div class="col-md-3 col-addressiswa">
                          <p>Alamat Siswa</p>
                      </div>   
                      <div class="col-md-2 col-aksi">
                          <p>Aksi</p>
                      </div>                      
                  </div>
                  <div class="wrapper-over">
                      <% if(message == 'search'){ %>
                        <% for(let i=0 ; i < result.length ; i++){ %>
                            <div class="row wrap">
                                <div class="col-md-1 col-idsiswa">
                                    <p><%= result[i].idsiswa %></p>
                                </div> 
                                <div class="col-md-3 col-namasiswa">
                                    <p><%= result[i].nama %></p>
                                </div>
                                <div class="col-md-3 col-emailsiswa">
                                    <p><%= result[i].email %></p>
                                </div>
                                <div class="col-md-3 col-addressiswa">
                                    <p><%= result[i].address %></p>
                                </div>   
                                <div class="col-md-2 col-aksi">
                                    <a href="/siswa-view/<%= result[i].idsiswa %>">Edit</a> 
                                    | 
                                    <a href="/siswa-del/<%= result[i].idsiswa %>">Delete</a>
                                </div>
                            </div>
                        <% } %>

                     <% } %>
                  </div>
                </div>
            </div>

          </div>
          
      </div>
      <script type="text/javascript" src="/plugin/bootstrap/js/bootstrap.bundle.js"></script>
      <script type="text/javascript">
            let message = '<%= message %>'
            if(message != "search"){
                //function ShowData
                fetch('/siswa-all')
                .then(response => { return response.json() })
                .then(result =>{                    
                    let data = result
                    console.log(data.result)
                    const tabEl = document.querySelector('.wrapper-over') 
                    for(let i=0 ; i<data.result.length ; i++){
                        tabEl.innerHTML += `
                                        <div class="row wrap">
                                            <div class="col-md-1 col-idsiswa">
                                                <p>${data.result[i].idsiswa}</p>
                                            </div> 
                                            <div class="col-md-3 col-namasiswa">
                                                <p>${data.result[i].nama}</p>
                                            </div>
                                            <div class="col-md-3 col-emailsiswa">
                                                <p>${data.result[i].email}</p>
                                            </div>
                                            <div class="col-md-3 col-addressiswa">
                                                <p>${data.result[i].address}</p>
                                            </div>   
                                            <div class="col-md-2 col-aksi">
                                                <a href="/siswa-view/${data.result[i].idsiswa}">Edit</a> 
                                                | 
                                                <a href="/siswa-del/${data.result[i].idsiswa}">Delete</a>
                                            </div>
                                        </div>
                        
                        `
                    }                
                })
                .catch(err => { console.log(`Error : ${err}`) })
            }
                 
      </script>
</body>
</html>